<%= form_for order do |order| %>

  <div class="form-group">
    <%= order.label :full_name, class: "control-label" %>
    <%= order.text_field :full_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= order.label :email, class: "control-label" %>
    <%= order.email_field :email, class: "form-control" %>
  </div>

  <br />

  <h4> Delivery Information </h4>

  <%= order.fields_for :delivery_address do |delivery_address_fields| %>
    <div class="form-group">
      <%= delivery_address_fields.label :contact_phone, class: "control-label" %>
      <%= delivery_address_fields.phone_field :contact_phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= delivery_address_fields.label :street, class: "control-label" %>
      <%= delivery_address_fields.text_field :street, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= delivery_address_fields.label :city, class: "control-label" %>
      <%= delivery_address_fields.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= delivery_address_fields.label :state, class: "control-label" %>
      <%= delivery_address_fields.text_field :state, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= delivery_address_fields.label :zip_code, class: "control-label" %>
      <%= delivery_address_fields.text_field :zip_code, class: "form-control" %>
    </div>
  <% end %>

  <br />

  <h4> Billing Information </h4>

  <%= order.fields_for :credit_card do |credit_card_fields| %>
    <div class="form-group">
      <%= credit_card_fields.label :name_on_card, class: "control-label" %>
      <%= credit_card_fields.text_field :name_on_card, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= credit_card_fields.label :kind, class: "control-label" %>
      <%= credit_card_fields.text_field :kind, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= credit_card_fields.label :number, class: "control-label" %>
      <%= credit_card_fields.text_field :number, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= credit_card_fields.label :expiration_month, class: "control-label" %>
      <%= credit_card_fields.text_field :expiration_month, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= credit_card_fields.label :expiration_year, class: "control-label" %>
      <%= credit_card_fields.text_field :expiration_year, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= credit_card_fields.label :security_code, class: "control-label" %>
      <%= credit_card_fields.text_field :security_code, class: "form-control" %>
    </div>
  <% end %>

    <br />
    <%= order.fields_for :billing_address do |billing_address_fields| %>
      <div class="form-group">
        <%= billing_address_fields.label :contact_phone, class: "control-label" %>
        <%= billing_address_fields.phone_field :contact_phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= billing_address_fields.label :street, class: "control-label" %>
        <%= billing_address_fields.text_field :street, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= billing_address_fields.label :city, class: "control-label" %>
        <%= billing_address_fields.text_field :city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= billing_address_fields.label :state, class: "control-label" %>
        <%= billing_address_fields.text_field :state, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= billing_address_fields.label :zip_code, class: "control-label" %>
        <%= billing_address_fields.text_field :zip_code, class: "form-control" %>
      </div>
    <% end %>

  <%= order.submit "Submit", class: "btn btn-default" %>

<% end %>
