
  <%= form_for product do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Price" %>
      <%= f.text_field :unit_price_in_cents, value: product.unit_price_in_cents/100.0, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :for_sale %>
        <%= f.check_box :for_sale %>
    </div>

    <hr>
    <%= f.submit "Update", class: 'btn btn-primary' %>
  <% end %>
