<!-- Adds "Admin View" to the side of title if Admin -->
<h1>Our Products
<small>
  <% if current_user && current_user.admin? %>
  Admin View
  <% end %>
</small>
</h1>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <% if current_user && current_user.admin? %>
        <% @products.each do |product| %>
          <p><%= product.name %> -- <%= number_to_currency product.unit_price_in_cents.to_i/100 %></p>
          <%= image_tag(product.image_url, size: '150x100') if product.image_url %>
          <% if product.for_sale %>
            <p>Viewable</p>
          <% else %>
            <p>Not Viewable</p>
          <% end %>
          <%= link_to "Admin: Edit Product", edit_product_path(product.id), class: "btn btn-info" %>
          <hr>
        <% end %>

      <% else %>
        <% @products.each do |product| %>
          <p><%= product.name %> -- <%= number_to_currency product.unit_price_in_cents/100 %></p>
          <%= image_tag(product.image_url, size: '150x100') %>
          <%= link_to "Add to cart!", line_items_path(line_item: { product_id: product.id, quantity: 1, total_sale_price_in_cents: product.unit_price_in_cents}), method: :post, class: "btn" %>
          <hr>
        <% end %>
    </div>
      <% end %>

    <div class="col-md-6">
      <% if !current_cart.line_items.empty? %>
        <%= render partial: "/carts/show" %>
      <% end %>
    </div>
  </div>
</div>
