<!DOCTYPE html>

<html>
  <head>
    <title>Cakewalkers</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bakeshop-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <%= link_to image_tag('Logo-Highres.png', size: '50x50'), root_path, class: "navbar-brand", id:"logo" %>
           <%= link_to "Cakewalkers", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bakeshop-nav">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Our Treats", products_path %>
            </li>
            <% if (current_user && current_user.admin?) || (current_user && current_user.cakewalker?) %>
              <li>
                <%= link_to "Orders", orders_path %>
              </li>

            <% end %>
            <% if current_user && current_user.admin? %>
              <li>
                <%= link_to "Create New User", new_user_path %>
              </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to "Log out", session_path, method: :delete %></li>
              <li><%= link_to "View Profile", user_path(current_user.id) %></li>
              <li class = "navbar-text"> Signed in as <%= current_user.full_name %></li>
            <% else %>
              <li><%= link_to "Log In", new_session_path %></li>
              <li><%= link_to "Sign Up!", new_user_path %></li>
            <% end %>
            <li>
              <%= link_to image_tag('cart.png', size: '25x25'), cart_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= ENV['PUBLISHABLE_KEY'] %>');
    </script>

  </body>
</html>
